@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;700;900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
    /* !Fonts */
    --font-martel: 'Martel', serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;

    /* !Colors */
    --main-color: #784F33;
    --main-bg-color: #295C7A;
    --second-bg-color: #252B42;
    --title-color: #252B42; 
    --text-color: #737373;
    --main-yellow: #D0A144;
    --bg-gradient-color: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);

    /* !Height Width */
    --header-height: 15vh;
}

.container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

.btn {
    font-family: var(--font-open-sans);
    border: 1px solid var(--main-color);
    padding: 10px 35px;
    border-radius: 35px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--main-color);
    color: #fff;
}

.btn-secondary {
    background-color: transparent;
    color: var(--main-color);
}

.button-group {
    display: flex;
    align-items: center;
}

.button-group a:nth-child(2) {
    margin-left: 10px;
}

.title {
    font-family: var(--font-martel);
    color: var(--title-color);
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
}

.title-sub-text {
    font-family: var(--font-open-sans);
    color: var(--text-color);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-top: 15px;
}

a {
    text-decoration: none;
}

/* !Header Css */
header {
    background-color: #F3F3F3;
}

.header {
    display: flex;
    align-items: center;
    height: var(--header-height);
}

.header .logo h1 a {
    font-family: var(--font-martel);
    color: var(--title-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.header nav {
    flex-grow: 1;
}

.header .nav-links {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.header .nav-links > li + li {
    margin-left: 25px;
}

.header .nav-links li a {
    font-family: var(--font-open-sans);
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2;
}

.head {
    height: calc(100vh - var(--header-height));
    background-image: url('../images/cover.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.head .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.head .head-text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: 80px;
}

.head .head-text h1 {
    font-family: var(--font-martel);
    color: var(--title-color);
    font-size: 58px;
    line-height: 65px;
    font-weight: 900;
    letter-spacing: 0.2px;
}

.head .head-text p {
    font-family: var(--font-montserrat);
    color: var(--text-color);
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin: 35px 0;
}

.head__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: -5%;
}

.head__card .head__card-item {
    max-width: 25%;
    padding: 25px 25px;
    background-color: #fff;
    box-shadow: 0px 13px 19px rgb(0 0 0 / 7%);
}

.head__card .head__card-item:hover {
    background-color: var(--main-bg-color);
    cursor: pointer;
}

.head__card .head__card-item:hover > * {
    color: #fff;
}

.head__card .head__card-item i {
    color: var(--title-color);
    font-size: 42px;
}

.head__card .head__card-item h3 {
    color: var(--title-color);
    font-family: var(--font-martel);
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 15px 0;
}

.head__card .head__card-item p {
    font-family: var(--font-open-sans);
    color: var(--text-color);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.clients__block {
    background-color: #FAFAFA;
    text-align: center;
    padding: 150px 0;
}

.result__block {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result__block .result__blok-item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px 25px;
    width: 150px;
    height: 150px;
}

.result__block .result__blok-item i {
    color: var(--main-yellow);
    font-size: 40px;
}

.result__block .result__blok-item h3 {
    font-family: var(--font-martel);
    color: var(--title-color);
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.result__block .result__blok-item span {
    font-size: var(--font-martel);
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase;
}

.who-we-are__block {
    padding: 100px 0;
    background-color: white;
    text-align: center;
}

.who-we-are__item {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.who-we-are__item .left-side {
    width: 50%;
}

.who-we-are__item .left-side img {
    width: 100%;
}

.who-we-are__item .right-side {
    padding-left: 120px;
    text-align: left;
    width: 40%;
}

.right-side .right-side__item {
    margin-top: 35px;
    display: flex;
}

.right-side .right-side__item i {
    color: var(--main-yellow);
    margin-right: 15px;
    font-size: 24px;
}

.right-side .right-side__item .right-side__item-text h3 {
    font-family: var(--font-martel);
    color: var(--title-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.right-side .right-side__item .right-side__item-text span {
    font-family: var(--font-open-sans);
    color: var(--text-color);
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
} 

@media (max-width: 768px) {
    .button-group {
        flex-direction: column;
    }

    .button-group a:nth-child(2) {
        margin-left: unset;
        margin-top: 25px;
    }

    nav {
        display: none;
    }

    .head {
        height: auto;
    }

    .head .head-text {
        text-align: center;
        max-width: 100%;
        margin-top: 80px;
    }

    .head .head-text h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .head .head-text p {
        font-size: 20px;
        line-height: 30px;
    }

    .head__card {
        flex-direction: column;
        position: static;
        bottom: unset;
        padding: 80px 0;
    }

    .head__card .head__card-item {
        max-width: 100%;
        padding: 35px 40px
    }

    .head__card .head__card-item:not(:first-child) {
        margin-top: 30px;
    }

    .clients__block {
        padding: 80px 0;
    }

    .result__block {
        flex-direction: column;
    }

    .result__block .result__blok-item:not(:first-child) {
        margin-top: 30px;
    }

    .result__block .result__blok-item {
        width: 200px;
        height: 200px;
    }

    .who-we-are__item {
        flex-direction: column;
    }

    .who-we-are__item .left-side {
        width: 100%;
    }

    .who-we-are__item .right-side {
        width: 100%;
        padding-left: unset;
        margin-top: 80px;
    }
}

@media (max-width: 576px) {
    /* nav {
        display: none;
    }

    .head {
        height: auto;
    }

    .head__card {
        flex-direction: column;
        position: static;
        bottom: unset;
        padding: 100px 0;
    }

    .head__card .head__card-item {
        max-width: 100%;
        padding: 35px 40px
    } */
}